{$DOMAIN} {
    respond "Welcome to {$APP_NAME}-{$NODE_ENV}"
}

api.{$DOMAIN} {
    reverse_proxy backend:{$PORT} {
        header_down Strict-Transport-Security max-age=31536000;
    }
}

pgadmin.{$DOMAIN} {
    reverse_proxy pgadmin:80
}